---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import SpeakerCard from "@/components/SpeakerCard.astro";
import { Icon } from "astro-icon/components";
import Button from "@/components/Button.astro";
import AgendaLayout from "@/components/AgendaLayout.astro";
import Accordion from "@/components/Accordion.astro";
import { Image } from "astro:assets";

import snakeL from "@/assets/Icons/snakeL.svg";
import snakeR from "@/assets/Icons/snakeR.svg";
import shrimpL from "@/assets/Icons/shrimpL.svg";
import shrimpR from "@/assets/Icons/shrimpR.svg";
import flower from "@/assets/Icons/Group-3.svg";
import star from "@/assets/Icons/Group-4.svg";
import lotus from "@/assets/Icons/Group-5.svg";
import wave from "@/assets/Icons/Vector-1.svg";
import bigStar from "@/assets/Icons/Vector.svg";
import target from "@/assets/Icons/Group.svg";

import Strip from "@/assets/strip.png";
import GooseYadom from "@/assets/goose_yadom.png";
import GooseMuay from "@/assets/goose_muay.png";
import GooseTukTuk from "@/assets/goose_tuktuk.png";

import logo from "@/assets/logos/Logo.png";

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { urlFor } from "@/utils/sanity";
import SponsorItem from "@/components/SponsorItem.astro";

const EVENT_DATE = "26 April 2025";
const EVENT_LOCATION = "KX Building, Floor 7 & 8";

const SPEAKERS_QUERY = `*[_type == "speaker"]|order(_createdAt asc)`;
const FAQS_QUERY = `*[_type == "faq"]`;
const STAFF_TEAM_QUERY = `*[_type == "staffTeam"] {title, staff[] -> {titleEN, titleTH}}`;
const PLATINUM_SPONSORS_QUERY = `*[_type == "sponsor" && rank == "platinum"]`;
const GOLD_SPONSORS_QUERY = `*[_type == "sponsor" && rank == "gold"]`;
const SILVER_SPONSORS_QUERY = `*[_type == "sponsor" && rank == "silver"]`;
const TALK_SECTIONS_QUERY = `*[_type == "talkSection"] {
  titleEN,
  titleTH,
  startTime,
  endTime,
  talks[] -> {
    titleEN,
    titleTH,
    descriptionEN,
    descriptionTH,
    startTime,
    endTime,
    speaker->{
      titleEN,
      titleTH,
      roleEN,
      roleTH,
      bioEN,
      bioTH,
      pfp{
        asset->{
          url
        }
      },
    }
  }
}`;

const speakers = await sanityClient.fetch<SanityDocument[]>(SPEAKERS_QUERY);
const talkSections =
  await sanityClient.fetch<SanityDocument[]>(TALK_SECTIONS_QUERY);
const faqs = await sanityClient.fetch<SanityDocument[]>(FAQS_QUERY);

const platinumSponsors = await sanityClient.fetch<SanityDocument[]>(
  PLATINUM_SPONSORS_QUERY
);
const goldSponsors =
  await sanityClient.fetch<SanityDocument[]>(GOLD_SPONSORS_QUERY);
const silverSponsors = await sanityClient.fetch<SanityDocument[]>(
  SILVER_SPONSORS_QUERY
);

const staffTeams = await sanityClient.fetch<SanityDocument[]>(STAFF_TEAM_QUERY);

console.log(staffTeams);
---

<Layout title="The Silent Loud · TEDxKMUTT">
  <div class="space-y-64 overflow-clip">
    <section class="relative pt-16">
      <Image
        src={Strip}
        alt=""
        width={3000}
        class="fixed -bottom-0 translate-y-16 -right-0 z-10 w-full scale-125"
      />
      <img
        src={flower.src}
        alt=""
        class="absolute -top-48 -right-16 opacity-20 -z-20 w-[24rem] animate-[spin_10s_linear_infinite]"
      />
      <div class="max-w-xl m-auto text-center space-y-8">
        <Image
          src={logo}
          alt="The Silent Loud Logo"
          width={1800}
          class="w-full"
        />
        <div class="flex flex-col items-center gap-2 text-lg">
          <div class="flex items-center gap-1 text-darkGray">
            <Icon name="mdi:calendar" class="text-primary-500 text-2xl" />
            <p>{EVENT_DATE}</p>
          </div>
          <div class="flex items-center gap-1 text-darkGray">
            <Icon name="mdi:map-marker" class="text-primary-500 text-2xl" />
            <p>{EVENT_LOCATION}</p>
          </div>
        </div>
        <div
          class="flex flex-col-reverse  m-auto md:flex-row gap-2 justify-center items-center md:items-start"
        >
          <a href="#">
            <Button
              variant="primary"
              text="Claim my ticket"
              iconRight="mdi:arrow-top-right"
              description="Only 300 tickets available"
            />
          </a>
          <a href="#agenda">
            <Button variant="secondary" text="View agenda" />
          </a>
        </div>
        <div class="flex -space-x-4 justify-center items-start">
          {
            speakers.map(
              (speaker) =>
                speaker.pfp && (
                  <img
                    src={urlFor(speaker.pfp)?.width(128).height(128).url()}
                    alt=""
                    class="w-16 bg-neutral-200 border-2 border-white rounded-full"
                  />
                )
            )
          }
        </div>
      </div>
      <div class="relative p-4">
        <div
          class="relative max-w-screen-2xl m-auto aspect-video bg-foreground border border-lightGray rounded-3xl mt-16"
        >
          <Image
            src={GooseYadom}
            alt=""
            width={800}
            class="absolute -top-40 right-32 -z-10 w-32"
          />
        </div>
        <img
          src={star.src}
          alt=""
          class="absolute -top-20 -left-32 opacity-20 -z-20 w-[24rem] animate-[spin_10s_linear_infinite]"
        />
      </div>
    </section>
    <Container>
      <div class="flex items-center justify-center gap-8 w-full">
        <img id="background" src={snakeL.src} alt="" class="w-16" />
        <h2 class="text-4xl md:text-6xl text-center font-semibold">
          Make The Silent Loud
        </h2>
        <img id="background" src={snakeR.src} alt="" class="w-16" />
      </div>
      <div
        class="relative grid grid-cols-1 md:grid-cols-2 gap-4 h-[32rem] mt-16"
      >
        <img
          src={wave.src}
          alt=""
          class="absolute -top-64 -right-32 opacity-20 -z-10 w-[32rem]"
        />
        <div class="bg-foreground border border-lightGray rounded-3xl"></div>
        <Image
          src={GooseMuay}
          alt=""
          width={800}
          class="absolute bottom-0 -left-32 -rotate-12 -z-10 w-80"
        />
        <div class="grid grid-rows-2 gap-4">
          <div class="bg-foreground border border-lightGray rounded-3xl"></div>
          <div class="bg-foreground border border-lightGray rounded-3xl"></div>
        </div>
      </div>
    </Container>
    <Container>
      <SectionTitle
        target="speakers"
        title="Speakers"
        header="Meet the Idea Sharers"
      />
      <div class="relative grid md:grid-cols-3 lg:grid-cols-4 gap-4">
        {
          speakers.map((speaker) => (
            <SpeakerCard
              name={speaker.titleEN}
              title={speaker.roleEN}
              bio={speaker.bioEN}
              image={speaker.pfp}
            />
          ))
        }
        <img
          src={shrimpL.src}
          alt=""
          class="absolute -top-40 -left-40 opacity-20 -z-10 w-64"
        />
        <img
          src={shrimpR.src}
          alt=""
          class="absolute -bottom-40 -right-32 opacity-20 -z-10 w-[20rem]"
        />
      </div>
    </Container>
    <Container>
      <SectionTitle
        target="when-and-where"
        title="When & Where"
        header="Mark Your Calendar"
      />
      <div class="relative grid md:grid-cols-2 gap-4">
        <img
          src={target.src}
          alt=""
          class="absolute -top-40 -right-32 opacity-20 -z-10 w-[20rem] animate-[pulse_5s_linear_infinite]"
        />
        <Image
          src={GooseTukTuk}
          alt=""
          width={800}
          class="absolute -bottom-20 -right-20 -rotate-12 w-80"
        />
        <div class="flex flex-col gap-4">
          <div class="bg-foreground border border-lightGray rounded-3xl p-8">
            <div class="inline-flex items-center gap-2">
              <Icon name="mdi:calendar" class="text-primary-500 text-3xl" />
              <h2 class="text-2xl font-semibold">
                {EVENT_DATE}
              </h2>
            </div>
            <h3 class="text-xl mt-2 text-darkGray">12:00 - 18:00</h3>
            <div class="w-fit mt-8">
              <a href="#agenda">
                <Button variant="secondary" text="View agenda" />
              </a>
            </div>
          </div>
          <div class="bg-foreground border border-lightGray rounded-3xl p-8">
            <div class="inline-flex items-center gap-2">
              <Icon name="mdi:map-marker" class="text-primary-500 text-3xl" />
              <h2 class="text-2xl font-semibold">Knownledge Exchange</h2>
            </div>
            <h3 class="text-xl mt-2 text-darkGray">Floor 7 & 8</h3>
            <p class="text-darkGray mt-4">
              110/1 Krung Thon Buri Road, <br />
              Bang Lamphu Lang, Khlong San, <br />
              Bangkok 10600
            </p>
            <div class="w-fit mt-8">
              <a href="https://maps.app.goo.gl/LebcD84CMNj7i4qM7">
                <Button
                  variant="secondary"
                  text="View on map"
                  iconRight="mdi:arrow-top-right"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="bg-foreground h-[32rem] md:h-auto border border-lightGray rounded-3xl overflow-clip"
        >
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.967595737792!2d100.49578297508964!3d13.720411686668196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298ee5d02d0a3%3A0xe2511ae461733d57!2sKnowledge%20Exchange%20Center%20(KX)!5e0!3m2!1sen!2sth!4v1742807155241!5m2!1sen!2sth"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="w-full h-full"></iframe>
        </div>
      </div>
    </Container>
    <Container>
      <SectionTitle
        target="agenda"
        title="Agenda"
        header="Amazing Talks in a Day"
      />
      <div class="relative space-y-16">
        <img
          src={bigStar.src}
          alt=""
          class="absolute -top-40 -right-32 opacity-20 -z-10 w-[20rem] animate-[spin_10s_linear_infinite]"
        />
        {
          talkSections.map((section, index) => (
            <AgendaLayout
              title={section.titleEN}
              startTime={section.talks[0].startTime}
              endTime={section.talks[section.talks.length - 1].endTime}
              talks={section.talks}
              index={index}
            />
          ))
        }
      </div>
    </Container>
    <Container>
      <SectionTitle
        target="faqs"
        title="FAQs"
        header="Answers for Your Questions"
      />
      <div class="relative max-w-screen-md m-auto space-y-4">
        <img
          src={lotus.src}
          alt=""
          class="absolute -bottom-40 -left-32 opacity-20 -z-10 w-[20rem] animate-[spin_10s_linear_infinite]"
        />
        {
          faqs.map((faq) => (
            <Accordion title={faq.questionEN} content={faq.answerEN} />
          ))
        }
      </div>
    </Container>
    <Container>
      <div
        class="bg-foreground border border-lightGray m-4 p-4 rounded-3xl text-center h-[80vh]"
      >
        <h3 class="text-6xl font-semibold">Join the Event</h3>
      </div>
    </Container>
    <Container>
      <SectionTitle
        target="sponsors"
        title="Our Sponsors"
        header="Supporting Partners"
      />
      <div class="relative max-w-screen-md m-auto space-y-16">
        {
          platinumSponsors.length > 0 && (
            <div class="space-y-4">
              <h3 class="text-2xl font-semibold">Platinum</h3>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {platinumSponsors.map((sponsor) => (
                  <SponsorItem
                    name={sponsor.title}
                    logo={sponsor.logo}
                    url={sponsor.website}
                  />
                ))}
              </div>
            </div>
          )
        }{
          goldSponsors.length > 0 && (
            <div class="space-y-4">
              <h3 class="text-2xl font-semibold">Gold</h3>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {goldSponsors.map((sponsor) => (
                  <SponsorItem
                    name={sponsor.title}
                    logo={sponsor.logo}
                    url={sponsor.website}
                  />
                ))}
              </div>
            </div>
          )
        }{
          silverSponsors.length > 0 && (
            <div class="space-y-4">
              <h3 class="text-2xl font-semibold">Silver</h3>
              <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                {silverSponsors.map((sponsor) => (
                  <SponsorItem
                    name={sponsor.title}
                    logo={sponsor.logo}
                    url={sponsor.website}
                  />
                ))}
              </div>
            </div>
          )
        }
      </div>
    </Container>
    <Container>
      <SectionTitle target="team" title="Our Team" header="Behind the Scene" />
      {
        staffTeams.length > 0 && (
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {staffTeams.map((team) => (
              <div>
                <h3>{team.title}</h3>
                {team.staff.map((staff: any) => (
                  <p>{staff.titleEN}</p>
                ))}
              </div>
            ))}
          </div>
        )
      }
    </Container>
  </div>
</Layout>
