---
import { Icon } from "astro-icon/components";

interface Props {
    href?: string;
    text: string;
    description?: string;
    variant: "primary" | "secondary";
    iconLeft?: string;
    iconRight?: string;
}

const { href, text, description, variant, iconLeft, iconRight } = Astro.props;

const variantClasses = {
    primary: "bg-primary-500 group-hover:bg-primary-600 text-white",
    secondary:
        "bg-white group-hover:bg-slate-200 text-primary-500 border border-slate-300",
};
---

<a href={href}>
    <div class="group flex flex-col gap-1">
        <button
            class={`button flex items-center gap-1 font-bold px-4 py-2 rounded-full duration-200 ${variantClasses[variant]}`}
        >
            {iconLeft && <Icon name={iconLeft} />}
            <p>{text}</p>
            {iconRight && <Icon name={iconRight} />}
        </button>
        <small class="text-slate-500">{description}</small>
    </div>
</a>
