---
import { Icon } from "astro-icon/components";

interface Props {
  text: string;
  description?: string;
  variant: "primary" | "secondary";
  iconLeft?: string;
  iconRight?: string;
}

const { text, description, variant, iconLeft, iconRight } = Astro.props;

const variantClasses = {
  primary:
    "bg-primary-500 group-hover:bg-primary-600 text-white border border-b-4 border-black active:border-b active:translate-y-1",
  secondary:
    "bg-white group-hover:bg-neutral-100 text-primary-500 border border-b-4 border-black active:border-b active:translate-y-1",
};
---

<div class="group flex flex-col gap-1">
  <button
    class={`button flex items-center gap-1 font-bold text-lg px-6 py-3 rounded-full duration-200 ${variantClasses[variant]}`}
  >
    {iconLeft && <Icon name={iconLeft} />}
    <p>{text}</p>
    {iconRight && <Icon name={iconRight} />}
  </button>
  <small class="text-darkGray">{description}</small>
</div>
